<div class="my-wrapper">
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<hr>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
<div class="my-container" (click)="go()" >TO PAGE 1</div>
</div>

